body {
    /* background-image: url("../images/booksLightGray.png"); */
    background-repeat: no-repeat;   
    /* background-position: top; */
    /* background-size: cover; */
    background-color: #FAFAFA;
    /* z-index: -1; */
    font-family: "Times New Roman";
}


.img {
    z-index: 1;
    background-color: #FAFAFA;

}
 #topcard {
     background-color: #FAFAFA;
     border-style: none;
 }
#bookholder{
    /* background: #fafafa; */
    border-style: none;
    color:#FAFAFA;
    /* z-index: -1; */
}
#firmName {
    text-align: center;
    font-family: "Times New Roman";
    color: #262626;
    margin-top: 5%;
    font-size: 3em;
}

#emailLink {
    color: #FFB612;
    text-decoration: underline;
}

.jumbotron {
    margin-top: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0px;
    opacity: 1;
    padding-bottom: 15px;
    padding-top: 25px;
    background-color: #FAFAFA;
    color: #262626;
}

.my-4 {
    /* border-color: rgb(35, 89, 189);
    background-color: rgb(35, 89, 189); */
    border-style: solid;
    border-width: 1px;
    width: 90%;
}


#tempMessage {
    /* color: #f6f6f6; */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #203731;
    color: #FFB612;
    margin: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: #262626;
    text-align: center;
    font-size: 1.2em;
    border-style: solid;
    border-color:#262626;
    border-width: 1px;
}


#comingSoon{
    color:#FFB612
}
#areasOfLaw {
    margin: 1rem;
    background-color: #686868;
    color: #F7FBFA;
    border-style: solid;
    border-width: 1px;
    /* border-color: #534E55; */
    border-color:#999FAD;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:5%;
    /* border-style: solid;
    border-color:orangered;
    border-width: 1px; */
}

.namePlate {
    font-size: 2em;
    text-align: center;
    color: #262626;
}

#outline {
    border: 3px;
    border-style: none;
    border-color:;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    /* color:rgb(35, 89, 189); */
}

.addressPlate {
    text-align: center;
    font-size: 14pt;
    text-align: center;
    font-size: 1.75em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.lead {
    text-align: center;
    margin-top:1%;
    margin-bottom: 3%;
    font-size: 2.2em;
    color: #262626;
}

 .legal{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .75em;
    /* text-justify: distribute-all-lines; */
    margin-bottom:4%;
    text-align: center;
    margin-left:5%;
    margin-right:5%;
 }

 .footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#203731;
    color: #FFB612;
    text-align: center;
    font-size: 1.5em;
    border-style: solid;
    border-width: 1px;
    /* border-color:#5B7C8E */

}


#colorDarkBlue {
    background-color:#FFB612;
    border-style: solid;
    border-width: 1.5px;
    border-color: #FFB612;

}

#colorBeige {
    background-color:#203731;
    border-style: solid;
    border-width: 1px;
    border-color: #203731;

}


/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */

@media (max-width: 1025px) {

    #outline {
        border: 5px;
        border-style: solid;
        border-color: #f7fbfa;
        margin-top: 15%;
        margin-bottom: 45%;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    #firmName {
        text-align: center;
        font-family: "Times New Roman";
        color: #262626;
        margin-top: 7.5%;
        font-size: 3em;
    }

    .lead {
        text-align: center;
        margin-top:5%;
        margin-bottom: 3%;
        font-size: 2em;
        color: #262626;
    }

    .namePlate {
        font-size: 2em;
        text-align: center;
        color: #262626;
    }

    .legal{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
        text-justify: distribute-all-lines;
        margin-top: 5%;
        margin-bottom:20%;
     
     }
    
     .footer {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        /* margin-left:1%; */
        /* margin-right:1%; */
        /* background-color: rgb(35, 89, 189); */
        color: #FFB612;
        text-align: center;
        font-size: 1.2em;
        /* border-style: solid; */
        /* border-width: 1px; */
        /* border-color: rgb(35, 89, 189); */
        background-color:#203731
    
    }


@media (max-width: 769px) {

    #outline {
        border: 5px;
        border-style: solid;
        border-color: #f7fbfa;
        margin-top: 15%;
        margin-bottom: 45%;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    #firmName {
        text-align: center;
        font-family: "Times New Roman";
        color: #262626;
        margin-top: 7.5%;
        font-size: 3em;
    }

    .lead {
        text-align: center;
        margin-top:5%;
        margin-bottom: 3%;
        font-size: 2em;
        color: #262626;
    }

    .namePlate {
        font-size: 2em;
        text-align: center;
        color: #262626;
    }

    .legal{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
        text-justify: distribute-all-lines;
        margin-top: 5%;
        margin-bottom:20%;
     
     }
    
     .footer {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        /* margin-left:1%; */
        /* margin-right:1%; */
        /* background-color: rgb(35, 89, 189); */
        color: #FFB612;
        text-align: center;
        font-size: 1.2em;
        /* border-style: solid; */
        /* border-width: 1px; */
        /* border-color: rgb(35, 89, 189); */
        background-color:#203731;
    
    }
}


@media (max-width: 576px) {

    #outline {
        border: 5px;
        border-style: solid;
        border-color: #f7fbfa;
        margin-top: 15%;
        margin-bottom: 45%;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    #firmName {
        text-align: center;
        font-family: "Times New Roman";
        color: #262626;
        margin-top: 15%;
        font-size: 2em;
    }

    .lead {
        text-align: center;
        margin-top:5%;
        margin-bottom: 3%;
        font-size: 1.35em;
        color: #262626;
    }

    .namePlate {
        font-size: 1.75em;
        text-align: center;
        color: #262626;
    }

    .legal{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: .75em;
        text-justify: distribute-all-lines;
        margin-top: 5%;
        margin-bottom:35%;
     
     }
    
     .footer {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        /* margin-left:1%; */
        /* margin-right:1%; */
        /* background-color: rgb(35, 89, 189); */
        color: #FFB612;
        text-align: center;
        font-size: 1.2em;
        /* border-style: solid; */
        /* border-width: 1px; */
        /* border-color: rgb(35, 89, 189); */
        background-color:#203731;
    
    }
}
